<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Person</title>
    <link rel="stylesheet" th:href="@{/css/person.css}">
</head>
<body>
    <h1>Hello ReqRes users!</h1>
    <div>
        <form th:action="@{/persons}" method="get">
            <input type="text" name="keyword" th:value="${keyword}" autofocus>
            <button type="submit">Search</button>
            <a th:href="@{/newperson}">New Person</a>
        </form>
    </div>
    <div class="list-person">
        <div th:each="person: ${persons}" class="person">
            <div th:text="${person.getFirstName()}" class="name"></div>
            <div>
                <a th:href="'mailto:' +${person.getEmail()}" th:text="${person.getEmail()}"></a>
            </div>
            <div>
                <img th:src="${person.getAvatar()}"/>
            </div>
            <div class="command">
                <form th:action="@{/addtocart}">
                    <input type="hidden" name="id" th:value="${person.getId()}">
                    <button>Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>